html, body {
  background-color: #EEE;
  color: #AAA;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.offPage {
  display: none;
}

.container {
  background-color: #000;
  height: 96%;
  width: 98%;
}

.sideMenu, .activeWindow {
  height: 100%;
}


/* ----- SIDE MENU ----- */

.sideMenu {
  background-color: #262626;
  flex-direction: column;
  font-size: 2em;
  justify-content: flex-start;
  width: 15vw;
}

.logo {
  background-color: #000;
  height: 6em;
  margin: 2em 0;
  width: 6em;
}

.logo p {
  font-size: 3em;
}

.active {
  color: #ff8080;
}

.nav p:hover {
  color: #ff8080;
}


/* ----- END: SIDE MENU ----- */


/* ----- ACTIVE MENU ----- */

.activeWindow {
  opacity: 1;
  overflow: hidden;
  position: relative;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: linear;
  width: 85vw;
}

.pages {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-start;
  left: 0%;
  position: absolute;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-property: left;
  transition-timing-function: linear;
  width: 416.5vw;
}

.activeBox {
  background-image: url("../img/coding2.jpg");
  background-size: 100% 100%;
  color: #AAA;
  font-size: 10em;
  height: 100%;
  width: 100em;
}

.content {
  flex-direction: column;
  width: 85%;
}

.arrow {
  color: #444;
  display: none;
  font-size: 11rem;
  opacity: 0.6;
}

.leftArrow:hover, .rightArrow:hover {
  color: #ff8080;
  opacity: 1;
}

.introContainer {
  background-color: #111;
  border-radius: 0.1em;
  flex-direction: column;
  opacity: 0.8;
  padding: 0.1em;
}

.text {
  color: #ff8080;
  margin: 0;
}

.intro {
  font-size: 0.25em;
}


/* ----- END: ACTIVE MENU ----- */


/* ----- ABOUT ME ----- */

.aboutMePage {
  background-image: url("../img/aboutme.jpg");
  background-size: 100% 100%;
  height: 100%;
  width: 100em;
}

.aboutMeSection {
  flex-direction: row;
}

.aboutBox {
  background-color: #000;
  border-radius: 0.1em;
  flex-direction: column;
  height: 85vh;
  opacity: 0.7;
  width: 30vw;
}

.aboutBox p {
  color: #ff8080;
  font-size: 1.4em;
  width: 20em;
}

.picBox {
  opacity: 1;
}

.picBoxImg {
  background-image: url("../img/devAboutPic.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  opacity: 0.6;
  width: 100%;
}

.download a {
  color: #EEE;
  font-size: 2em;
  text-decoration: none;
}


/* ----- END: ABOUT ME ----- */


/* ----- PROJECTS ----- */

.projectsPage {
  background-image: url("../img/projects.jpg");
  background-size: 100% 100%;
  color: #AAA;
  flex-wrap: wrap;
  font-size: 10em;
  height: 100%%;
  justify-content: space-around;
  width: 100em;
}

.projectSection {
  flex-wrap: wrap;
  height: 5.4em;
  justify-content: space-around;
  width: 5.4em;
}

.projectBox {
  background-color: #000;
  border-radius: 0.1em;
  height: 2.6em;
  opacity: 0.9;
  width: 2.6em;
}

.flipContainer {
  border-radius: 0.1em;
  height: 2.6em;
  position: relative;
  transform: rotateY(0deg);
  width: 2.6em;
}

.flipContainer p {
  width: 14em;
}

.flipTop, .flipBottom {
  backface-visibility: hidden;
  background-color: #000;
  height: 100%;
  left: 0em;
  position: absolute;
  top: 0em;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: linear;
  width: 100%;
}

.flipTop {
  transform: rotateY(0deg);
}

.flipTop img {
  height: 50%;
  width: 50%;
}

.flipBottom {
  color: #ff8080;
  flex-direction: column;
  font-size: 1.4rem;
  transform: rotateY(180deg);
}

.flipBottom img {
  width: 75%;
}


/* ----- END: PROJECTS ----- */


/* ----- TECHNOLOGIES ----- */

.technologyPage {
  background-image: url("../img/technologies.jpg");
  background-size: 100% 100%;
}

.technologySection {
  flex-direction: row;
  flex-wrap: wrap;
  height: 5.4em;
  justify-content: space-around;
  width: 6.4em;
}

.technologyBox {
  background-color: #000;
  border-radius: 0.1em;
  flex-direction: column;
  height: 4.6em;
  opacity: 0.7;
  width: 2.6em;
}

.technologyBox p, .technologyBox h2, .technologyBox div {
  font-size: 1.6rem;
  margin: 0;
}

.technologyBox h2 {
  margin-top: 1em;
}

.technologyBox div {
  width: 13em;
}

.techPics {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 3.6em;
}

.technologyBox img {
  height: 1em;
}


/* ----- END: TECHNOLOGIES ----- */


/* ----- EMPLOYMENT ----- */

.employmentPage {
  background-image: url("../img/employment.jpg");
  background-size: 100% 100%;
}

.employmentBox {
  background-color: #000;
  border-radius: 0.1em;
  color: #ff8080;
  flex-direction: column;
  font-size: 1.4em;
  height: 85vh;
  opacity: 0.85;
  padding: 0 5em;
  width: 24vw;
}

.employmentBox h2 {
  margin: 0;
}

.employmentBox p {
  margin-bottom: 2em;
}

.hr {
  background-color: #ff8080;
  height: 0.05em;
  margin: 0.6em 0;
  width: 20em;
}

.pageWidth {
  height: 100%;
  width: 20%;
}
